.home_collection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.home_authors {
    flex-direction: column;
    flex: 1;
}

.home_articles {
    flex-direction: column;
    flex: 1;
}

.home_affil {
    flex-direction: column;
    flex:1;
}

.label {
    font-size: large;
}

.list-authors {
    padding: 1rem;
    margin: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.list-articles {
    padding: 1rem;
    margin: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.list-affils {
    padding: 1rem;
    margin: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.author_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
}

.author_id {
    display: flex;
    flex: 1;
}

.author_image {
    width: 50px;
    height: 50px;
    flex: 2;
}

.author_info {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem;
    text-align: right;
}

.article_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
}

.article_id {
    flex: 1;
}

.article_info {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem;
    text-align: right;
}

.affil_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
}

.affil_id {
    flex: 1;
}

.affil_info {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem;
    text-align: right;
}