.results_item {
    margin: 1rem;
    padding: 1rem;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.results_name {
    font-size: medium;
    margin: 1rem;
}

.results_total {
    font-size: small;
    margin: 1rem;
}

.results_ratio {
    font-size: small;
    margin: 1rem;
}