 
  #graph {
    width: 80vw;
    height: 60vh;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid black;
  }
  
  .loadButton {
    margin: 1em;
  }

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.user-input {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items:flex-start;
    justify-content:space-between;
}

.options {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    width: 16.67%;
    flex:1;
    align-self:stretch;
}